---
import Main from '@/layouts/main.astro';
import { LoginPage } from '@/components/features/login/LoginPage';
---

<Main title="Login">
  <div
    class="flex min-h-screen items-center justify-center bg-slate-950 font-sans text-white"
  >
    <LoginPage client:only="react" />
  </div>
</Main>
