---
import Main from "@/layouts/main.astro";
---

<Main title="Hola Mundo">
  <div
    class="min-h-screen flex items-center justify-center bg-slate-950 text-white font-sans"
  >
    <div class="text-center">
      <h1
        class="text-6xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-emerald-400"
      >
        Hola Mundo
      </h1>
      <p class="mt-4 text-slate-400 text-xl font-light">
        Template para proyectos Astro. Con React, TailwindCSS y Shadcn UI.
      </p>
    </div>
  </div>
</Main>
