---
import Main from '@/layouts/main.astro';
---

<Main title="Hola Mundo">
  <div
    class="flex min-h-screen items-center justify-center bg-slate-950 font-sans text-white"
  >
    <div class="text-center">
      <h1
        class="from-blue-400 to-emerald-400 bg-clip-text text-6xl font-bold text-transparent"
      >
        Hola Mundo
      </h1>
      <p class="mt-4 text-xl font-light text-slate-400">
        Template para proyectos Astro. Con React, TailwindCSS y Shadcn UI.
      </p>
    </div>
  </div>
</Main>
