---
import Main from '@/layouts/main.astro';
---

<Main title="404">
  <div
    class="flex min-h-screen items-center justify-center bg-white font-sans text-black"
  >
    <h1 class="text-6xl font-bold text-black">404</h1>
  </div>
</Main>
